html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
  


body {
    background: linear-gradient(170deg, #752dd1 12%, #7650e1 12%, #7650e1 47%, rgba(115,111,223,1) 47%, rgba(115,111,223,1) 58%, rgba(255,255,255,1) 58%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    /* background-size: contain; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}


.container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.nav-menu {
    position: relative;
    flex-flow: row nowrap;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    color: white;
    justify-content: space-between;
    padding: .5rem 1rem;
    margin-top: 1rem;
    text-decoration: none;
    margin-right: -15px;
    margin-left: -15px;

}

.nav-brand {
    display: inline-block;
    padding: .3125rem 0 .3125rem 0;
    margin-left: 2rem;
    font-size: 1.10rem;
    font-weight: 700;
    line-height: inherit;
    text-decoration: inherit;
    color: inherit;
    background-color: transparent;
    white-space: nowrap;
}




.con {
    display: flex;
    flex-basis: auto;
    align-items: center;
}

.collapse {
    display: flex;
}


.nav-list {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    flex-direction: row;
    list-style: none;
}

.nav-icon {
    display: none;
}






.nav-item {
    color: inherit;
    padding: 0 .5rem;
    /* margin-left: .5rem; */
    font-size: .9rem;
    font-weight: 500;
    text-decoration: inherit;
}

.nav-button {
    padding: .6rem 1.6rem;
    margin: 0 2rem 0 1rem;
    color: inherit;
    border: 1px solid transparent;
    background-color: #81d398;
    border-color: #81d398;
    border-radius: .25rem;
    font-size: .9rem;
    font-weight: 500;
    box-shadow: 0px 2px 5px rgba(46, 19, 90, 0.5);
}

.nav-button:hover {
    background-color: #71c98a;
}

@media (max-width: 660px){
    .toggle {
        display: none;
    }
 
    .icon {
         width: 25px;
         height: .2em;
         background-color: black;
         margin: 6px 0;
     }
 
     .nav-icon {
         display: initial;
         line-height: 1;
         background-color: white;
         border: 1px solid transparent;
         border-radius: .25rem;
     }

     .nav-icon:hover {
         background-color: #e6e0ec;
     }
 
     .nav-button {
         padding: .6rem;
         margin: 0;
         margin-left: 1rem;
     }
 
     .nav-menu {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
     }
     
     .nav-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        line-height: inherit;
        white-space: nowrap;
        margin-left: 1rem
     }

     .collapse:not(.show) {
         display: none;
     }

     .con {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        order: 12;
     }

     .collapse.show {
         margin-left: 1rem;
         display: block;
     }

     .nav-list.toggle {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
     }

     .nav-list.toggle li {
         padding-bottom: 1rem;
     }

     .nav-item {
         padding-left: 0;
     }

     .nav-item:hover {
         color: #e6e0ec;
     }

     .nav-list.btn {
        margin-right: 1rem;
     }
     
    
 }



.header {
    width: 100%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.text-green {
    color: #81d398;
}

.search-input {
    padding: 1.2rem 3rem;
    max-width: 100%;
    font-size: 1.1rem;
    border-radius: .5rem;
}

.search-button {
    background-color: #81d398;
    color: white;
    border: .5px solid #81d398;
    border-radius: .5rem;
    margin-left: .5rem;
    padding: 1.2rem 1.5rem;
    /* padding-left: 1.5rem;
    padding-right: 1.5rem; */
}

.search-form {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.5rem;
    /* align-items: center; */
}

@media(max-width: 500px) {
    .header {
        font-size: 1.2rem;
    }

    .search-input {
        padding: 1.2rem 1rem;
    }

    .search-button {
        padding: .9rem 1.5rem;
        margin-top: 1rem;
    }
}


.no-margin {
    margin: 0;
}


.more-info {
    margin-top: 8rem;
    text-align: center;
    color: white;
    padding: 1rem;
}

.down-button {
    border: 1px solid #81d398;
    border-radius: 50%;
    padding: .35rem .6rem;
    color: white;
    background-color: #81d398;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}


.description {
    width: 50%;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
}

.create-account {
    margin-top: 1rem;
    color: white;
    background-color: #7650e1;
    border: 1px solid #7650e1;
    padding: .5rem;
    border-radius: .5rem;
}


.services-h-position {
    margin-top: 3rem;
    text-align: center;
}

.services-text {
    font-weight: 200;
    position: relative;
	display: inline-block;
}

.services-text:after {
	content: '';
	width: 40%;
	left: 30%;
	height: 3px;
	background: black;
	position: absolute;
	bottom: -1rem;
}




.services {
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 3rem;
    /* margin-left: auto; */
    justify-content: center;
}


.service {
    position: relative;
    width: 100%;
   
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 1em;
}

@media (min-width: 700px) {
    .service {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


.card-body {
    flex-grow: 1;
    padding: 1.7rem;
    padding-right: 0;
}


.avatar-col {
    position: relative;
    width: 100%;
    display: flex;
    flex: 0 0 18%;
    align-items: center;
}

.card-body-col {
    position: relative;
    width: 100%;
    flex: 0 0 81%;
}


.service-card {
    /* max-width: 500px; */
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .7rem;
}

.no-gutter {
    margin-right: 0;
    margin-left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card-title {
    margin-bottom: .75rem;
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: 500;
}


.card-text {
    color: grey;
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
}


.create-contact {
    margin-top: 3rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
}

.contact-btn {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #7b7081;
    background-color: #ffffff;
    border: 1px solid #fcfdfe;
    box-shadow: .5px 3px 6px .5px #e6e8eb;
    padding: .5rem;
    border-radius: .5rem;
}

.purple-heading {
    margin: 0;
    font-weight: 200;
    color: #7650e1;
}

.darker-heading {
    margin: 0;
    font-weight: 300;
    color: #752dd1;
}

footer {
    background-color: #7650e1;
    background-size: cover;
    /* width: 100vw; */
    padding: 2rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
    padding: 3rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* width: 80%; */
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    
}

.col-25 {
    position: relative;
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    flex: 0 0 20%;
    max-width: 20%;
    /* text-align: center; */
    color: white;
    word-wrap: break-word;
    text-align: center;
}

@media (max-width: 750px) {
    .col-25 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0;
        padding-top: 1rem;
    }
}

.unstyle-list {
    padding-left: 0;
    margin: .5rem;
    list-style: none;
    font-weight: 300;
    font-size: .95rem;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-title {
    margin: 0rem;
    /* font-size: 1rem; */
}

.footer-item {
    padding: .5rem;
}

.padding-2 {
    padding: 1rem;
}